{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/channels.css') }}">
{% endblock css %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}

<!-- div to contain the content -->
<div class="channels-content">

    {% for post in posts %}

    <a class="channel-link" href="#">
        <img class="channel-img" src="{{ post.thumbnails['medium']['url'] }}"
            width="{{ post.thumbnails['medium']['width'] }}" height="{{ post.thumbnails['medium']['height'] }}"
            alt="{{ post.title }}">
        <h2 class="channel-title">{{ post.title }}</h2>
    </a>

    {% endfor %}

</div>

{% endblock content %}