{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock css %}

{% block content %}

<!-- div to contain the content -->
<div id="scroller" class="home-content">

	{% for post in posts %}

	<a class="home-video-thumb" href="{{ url_for('posts.post', post_id=post.id) }}">
		<img class="home-video-img" src="{{ post.thumbnails['medium']['url'] }}"
			width="{{ post.thumbnails['medium']['width'] }}" height="{{ post.thumbnails['medium']['height'] }}"
			alt="{{ post.provider_title }}">
		<h2 class="home-video-title">{{ post.provider_title }}</h2>
	</a>

	{% endfor %}

	<template id="post_template">
		<!-- template content -->
		<a id="post-url" class="home-video-thumb" href="#">
			<img id="thumb" class="home-video-img" src="#">
			<h2 id="title" class="home-video-title"></h2>
		</a>
	</template>

</div>

<!-- element to trigger the IntersectionObserver -->
<div class="sentinel" id="sentinel">
	<div class="spinner-border" role="status"></div>
</div>

<script>
	// Get references to the dom elements
	var scroller = document.querySelector("#scroller");
	var template = document.querySelector('#post_template');
	// var loaded = document.querySelector("#loaded");
	var sentinel = document.querySelector('#sentinel');

	// Set a counter to count the items loaded
	var counter = parseInt("{{ quantity }}");
	// There are still posts to be fetched
	var the_end = false;

	// Function to request new items and render to the dom
	function loadItems() {

		// Use fetch to request data and pass the counter value in the QS
		fetch(`/?c=${counter}`).then((response) => {

			// Convert the response data to JSON
			response.json().then((data) => {

				console.log('Backend called');
				console.log(`${data.length} posts fetched`);

				// If empty JSON, exit the function
				if (!data.length) {

					// Replace the spinner with "No more posts"
					sentinel.innerHTML = "No more posts";
					// We got to the end, no more posts
					the_end = true;
					console.log('No more posts');
					return;
				}

				// Iterate over the items in the response
				for (var i = 0; i < data.length; i++) {

					// Clone the HTML template
					let template_clone = template.content.cloneNode(true);

					// Query & update the template content
					template_clone.querySelector("#post-url").href = `/post/${data[i]['id']}`;
					let thumb = template_clone.querySelector("#thumb");
					thumb.src = data[i]['thumbnails']['medium']['url'];
					thumb.alt = data[i]['provider_title'];
					template_clone.querySelector("#title").innerHTML = data[i]['provider_title'];

					// Append template to dom
					scroller.appendChild(template_clone);

					// Increment the counter
					counter += 1;

					// Update the counter in the navbar
					// loaded.innerText = `${counter} items loaded`;

				}
			})
		})
	}

	// Create a new IntersectionObserver instance
	var intersectionObserver = new IntersectionObserver(entries => {

		// Uncomment below to see the entry.intersectionRatio when
		// the sentinel comes into view

		entries.forEach(entry => {
			console.log(entry.intersectionRatio);
		})

		// If intersectionRatio is 0, the sentinel is out of view
		// or if we reached the end of the database
		// we don't need to do anything. Exit the function
		if (entries[0].intersectionRatio <= 0 || the_end == true) {
			return;
		}

		// Call the loadItems function
		loadItems();
	});

	// Instruct the IntersectionObserver to watch the sentinel
	intersectionObserver.observe(sentinel);
</script>

{% endblock content %}