{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock css %}

{% block content %}
{% for post in posts.items %}
<article>
	<a class="home-video-thumb" href="{{ url_for('posts.post', post_id=post.id) }}" title="{{ post.provider_title }}">
		<img class="home-video-img" src="{{ post.thumbnails['medium']['url'] }}"
			width="{{ post.thumbnails['medium']['width'] }}" height="{{ post.thumbnails['medium']['height'] }}"
			alt="{{ post.provider_title }}">

		{% if post.user_title %}
		<h2 class="home-video-title">
			{% if post.user_title|length > 70 %}
			{{ post.user_title[:70] }}...
			{% else %}
			{{ post.user_title }}
			{% endif %}
		</h2>
		{% else %}
		<h2 class="home-video-title">
			{% if post.provider_title|length > 70 %}
			{{ post.provider_title[:70] }}...
			{% else %}
			{{ post.provider_title }}
			{% endif %}
		</h2>
		{% endif %}
	</a>

	<!-- <div class="video-metadata">
		{% if post.author.picture == 'default.jpg' %}
		<img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" class="rounded-circle mt-1" width="35"
			height="35" alt="">
		{% else %}
		<img src="{{ post.author.picture }}" class="rounded-circle mt-1" width="35" height="35" alt="">
		{% endif %}
		<a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username
			}}</a>
		<small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
	</div> -->
</article>
{% endfor %}

{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}