{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">
{% endblock css %}

{% block title %}
<title>{{ post.title }} | Doxder</title>
{% endblock title %}

{% block content %}

<article class="media-content">
	<div class="player">
		<div class="player-content" id="{{ post.video_id }}">
			<img alt="{{ post.title }}" src="{{ post.thumbnails['standard']['url'] }}">
			<div class="play"></div>
		</div>
	</div>
	<div class="metadata">
		<h1 class="video-title">{{ post.title }}</h1>
	</div>
</article>


<!-- <article class="media content-section">
  {% if post.post_author.picture == 'default.jpg' %}
  <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" class="rounded-circle mt-1" width="35"
    height="35" alt="">
  {% else %}
  <img src="{{ post.post_author.picture }}" class="rounded-circle mt-1" width="35" height="35" alt="">
  {% endif %}

  <div class="media-body">

    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('users.user_posts', username=post.post_author.username) }}">{{ post.post_author.username
        }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.post_author == current_user %}
      <div>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#deleteModal">Delete</button>
      </div>
      {% endif %}
    </div>

    {% if post.user_title %}
    <h2 class="article-title">{{ post.user_title }}</h2>
    {% else %}
    <h2 class="article-title">{{ post.provider_title }}</h2>
    {% endif %}
    <p class="article-content">
      {% if post.provider == 'Vimeo' %}
      <iframe src="https://player.vimeo.com/video/{{ post.video_id }}?title=0&byline=0&portrait=0" width="640"
        height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      {% else %}
      <iframe width="100%" src="https://www.youtube.com/embed/{{ post.video_id }}" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      {% endif %}
    </p>
  </div>
</article> -->

<!-- Modal -->
<!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
					<input class="btn btn-danger" type="submit" value="Delete">
				</form>
			</div>
		</div>
	</div>
</div> -->

<!-- <aside class="sidebar">
	<h3>Our Sidebar</h3>
	<p class='text-muted'>You can put any information here you'd like.
	<ul class="list-group">
		<li class="list-group-item list-group-item-light">Latest Posts</li>
		<li class="list-group-item list-group-item-light">Announcements</li>
		<li class="list-group-item list-group-item-light">Calendars</li>
		<li class="list-group-item list-group-item-light">etc</li>
	</ul>
	</p>
</aside> -->

<script>
	var v = document.querySelector('.player-content');
	document.addEventListener("DOMContentLoaded",
		function () {
			v.onclick = playerIframe;
		});

	function playerIframe() {
		var e = document.createElement("iframe");
		e.setAttribute("src", "https://www.youtube-nocookie.com/embed/" + v.id + "?iv_load_policy=3&cc_load_policy=1&autoplay=1");
		e.setAttribute("frameborder", "0");
		e.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture");
		e.setAttribute("allowfullscreen", "");
		this.parentNode.replaceChild(e, this);
	}
</script>

{% endblock content %}