# extensions
**/*.pyc
**/*.pyo
**/*.mo
**/*.md
**/*.swp
**/*.swo

# folders
**/__pycache__/
**/.pytest_cache/
.vscode/
.venv/
migrations/
postgres_data/
redis_data/

# files in the root
db.load
Dockerfile
compose.yaml
.dockerignore
.gitignore
.git
.env