# extensions
**/*.pyc
**/*.pyo
**/*.mo
**/*.md
**/*.swp
**/*.swo

# folders
**/__pycache__/
**/.pytest_cache/
.vscode/
.venv/
postgres_data/
redis_data/

# files in the root
Dockerfile
docker-compose.yml
.dockerignore
.gitignore
.git
.env