# extensions (on any level)
**/*.md
**/*.log
**/*.db


# cache directories (on any level)
**/__pycache__
**/.pytest_cache


# directories (in the root)
.venv
.vscode
.git
certs
migrations
postgres_data
redis_data


# files (in the root)
db.load
Dockerfile
compose.yaml
todo.txt


# dotfiles (in the root)
.coverage
.coverage*
.dockerignore
.gitignore
.env