.dashboard-title {
  display: inline-block;
  font-size: 1.2rem;
  line-height: normal;
  margin-bottom: var(--content-padding);
  padding-bottom: calc(var(--content-padding) / 3);
  border-bottom: 1px solid #696969;
}

.dashboard {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(7, auto);
}

.dashboard-header-item {
  color: #E95420;
}

/* Add padding, bottom and right border to all dashboard items */
.dashboard-item {
  padding: 15px 20px;
  border-bottom: 1px solid #696969;
  border-right: 1px solid #696969;
}

/* Remove left padding from the first grid column */
.dashboard-item:nth-child(7n+1) {
  padding-left: 0;
}

/* Remove bottom border from the last grid row */
.dashboard-item:nth-last-child(-n+7) {
  border-bottom: none;
}

/* Remove right border from the last grid column */
.dashboard-item:nth-child(7n) {
  border-right: none;
}

.dashboard-user-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}