.scroll-content {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, auto));
  justify-content: stretch;
  gap: var(--content-padding);
}

@media screen and (max-width: 1024px) {
  .scroll-content {
    grid-template-columns: repeat(3, minmax(50px, 320px));
  }
}
@media screen and (max-width: 700px) {
  .scroll-content {
    grid-template-columns: repeat(2, minmax(50px, 320px));
  }
}
@media screen and (max-width: 360px) {
  .scroll-content {
    grid-template-columns: minmax(50px, 320px);
  }
}
.video-block {
  position: relative;
}

a.video-link {
  display: flex;
  flex-direction: column;
  gap: calc(var(--content-padding) / 2);
  text-decoration: none;
}

a.video-link:hover {
  color: white;
}

.video-img-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

img.video-img {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
  transition: 0.4s all;
}

h2.video-title {
  font-weight: normal;
  font-size: 0.9rem;
}

.sentinel {
  margin: 4rem auto;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

#spinner {
  border: 7px solid var(--primary-background-color);
  border-top: 7px solid var(--primary-font-color);
  border-bottom: 7px solid var(--primary-font-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ################# Specific to User Library ################# */
.remove-option {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  font-size: 1.2rem;
  line-height: 1;
  color: white;
  top: 5px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.remove-option:hover {
  color: black;
  background-color: white;
}

.content-title {
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
  margin-bottom: var(--content-padding);
}