.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 50%;
    margin: 0 auto;
}

.form-content form {
    width: 100%;
}

.form-content fieldset {
    border: 1px solid rgb(88, 88, 150);
    border-radius: 5px;
    padding: var(--content-padding);
    margin-bottom: var(--content-padding);
    background: rgb(236, 236, 236);
}

.form-legend {
    font-weight: bold;
    font-size: 1.2rem;
    padding: .3rem 1rem;
    border: 1px solid rgb(88, 88, 150);
    border-radius: 5px;
    background: rgb(236, 236, 236);
}

.form-label {
    display: block;
    margin-bottom: 1rem;
}

.form-input {
    padding: .5rem;
    font-size: 1rem;
    width: 100%;
}

.form-invalid-feedback {
    color: red;
    margin-top: 1rem;
}

.form-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 1px solid rgb(88, 88, 150);
    border-radius: 5px;
    background: rgb(236, 236, 236);
    cursor: pointer;
}