.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  max-width: 700px;
  margin: 0 auto;
}

.form-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--content-padding);
}

.form-content fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--content-padding);
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  padding: var(--content-padding);
  background-color: var(--secondary-background-color);
}

.form-legend {
  font-weight: bold;
  padding: 0.3rem 1rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  background-color: var(--secondary-background-color);
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-border-color);
}

.form-input:focus {
  outline: none;
  border-color: rgb(88, 88, 150);
}

.button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--primary-background-color);
}

.form-invalid-feedback {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 8px;
  font-size: 0.9rem;
  border-left: 4px solid #F4511E;
}