.home-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 320px));
    /* grid-template-rows: repeat(auto, 1fr); */
    justify-content: stretch;
    gap: var(--content-padding);
}

a.home-video-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
}

a.home-video-link:hover {
    color: white;
}

img.home-video-img {
    width: 100%;
    height: auto;
}

h2.home-video-title {
    font-size: .9rem;
    /* font-weight: 500; */
}

.sentinel {
    margin: 4rem auto;
    font-weight: 700;
}