.media-content {
  display: grid;
  grid-template-columns: auto 32%;
  gap: var(--content-padding);
}

@media screen and (max-width: 900px) {
  .media-content {
    grid-template-columns: 100%;
  }
}
.video-content {
  display: flex;
  flex-direction: column;
  gap: var(--content-padding);
}

.player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: var(--img-border-radius);
  transition: var(--img-hover-transition-duration) filter;
}

.player:hover {
  filter: var(--img-hover-filter);
}

.player img {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: var(--img-border-radius);
}

.player .play {
  position: absolute;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(/static/images/play-button.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .player .play {
    height: 50px;
    width: 50px;
  }
}
.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: calc(var(--content-padding) / 2);
}

h1.video-title {
  font-weight: normal;
  line-height: 1.2;
  padding-bottom: calc(var(--content-padding) / 2);
  border-bottom: 1px solid var(--primary-border-color);
}

.editing:focus {
  font-size: normal;
  outline: none;
  border-bottom: 1px solid rgb(88, 88, 150);
}

button.edit-title,
button.edit-description {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-border-color);
  max-width: 6.5rem;
}

.other-metadata {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.metadata-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.inner-metadata-block .nav-item {
  color: #f26123;
}

.video-description {
  padding-bottom: calc(var(--content-padding) / 2);
}

.description_discliamer {
  color: gray;
  font-size: 0.85rem;
}

.unpublished {
  display: flex;
  flex-direction: column;
  gap: calc(var(--content-padding) / 2);
}

.unpublished .video-description {
  color: rgb(183, 187, 233);
}

@media screen and (max-width: 900px) {
  .short_desc_wrap {
    border-bottom: 1px solid var(--primary-border-color);
    padding-bottom: calc(var(--content-padding) / 2);
  }
}
@media screen and (max-width: 700px) {
  .metadata,
  .unpublished {
    gap: var(--content-padding);
  }
  h1.video-title,
  .video-description,
  .short_desc_wrap {
    padding-bottom: var(--content-padding);
  }
}
@media screen and (max-width: 600px) {
  .metadata-block {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
/* ############# Social (Likes and Faves) ############# */
.social {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.like,
.fave {
  cursor: pointer;
  border: 1px solid var(--primary-border-color);
  border-radius: 1rem;
  background: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 2rem;
  min-width: 5.5rem;
}

.like:hover,
.fave:hover {
  background: var(--primary-background-color);
}

/* ############# Sidebar ############# */
.sidebar_wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.related_videos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .related_videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
  }
}
.related-video {
  display: grid;
  grid-template-columns: 45% auto;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  text-decoration: none;
  transition: var(--img-hover-transition-duration) filter;
}

.related-video:hover {
  filter: var(--img-hover-filter);
}

img.related-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--img-border-radius);
}

h2.related-post-title {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.4;
}