/* ################# Variables ################# */
:root {
  --primary-background-color: rgb(20, 20, 20);
  --secondary-background-color: rgb(28, 28, 28);
  --primary-font-color: rgb(230, 237, 243);
  --secondary-font-color: rgb(213, 220, 227);
  --primary-border-color: hsl(0, 0%, 18.82%);
  --content-width: min(90vw, 1600px);
  --main-font-family: system-ui, sans-serif;
  --content-padding: 24px;
  --header-hight: 3.5rem;
  --img-hover-filter: brightness(85%);
  --img-hover-transition-duration: 0.3s;
  --img-border-radius: 10px;
  --search-form-height: 2.3rem;
}

/* ################# Reset ################# */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
button,
input,
textarea,
a {
  font-family: var(--main-font-family);
  color: var(--primary-font-color);
}

html {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 85.375em) {
  html {
    font-size: 19.2px;
  }
}
@media (min-width: 120em) {
  html {
    font-size: 22.4px;
  }
}
@media (min-width: 160em) {
  html {
    font-size: 25.6px;
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primary-background-color);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ################# Header / Content ################# */
.site-header-wrap {
  background-color: var(--secondary-background-color);
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
}

.site-header,
.content-wrap {
  max-width: var(--content-width);
  margin: 0 auto;
}

.content-wrap {
  min-height: 100%;
  padding-top: calc(var(--content-padding) + var(--header-hight));
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: calc(var(--content-padding) * 7);
       column-gap: calc(var(--content-padding) * 7);
  height: var(--header-hight);
  position: relative;
}

a.logo {
  font-size: 0.85rem;
  font-weight: 900;
  letter-spacing: -0.03rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

a.logo > * {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0.45em 1em;
}

a.logo span:first-child {
  border: 0.2em solid var(--primary-border-color);
  border-top-left-radius: var(--img-border-radius);
  border-bottom-left-radius: var(--img-border-radius);
  padding-right: 0.8em;
  transition: 0.5s background-color;
}

a.logo span:last-child {
  border: 0.2em solid var(--primary-border-color);
  background-color: var(--primary-border-color);
  border-top-right-radius: var(--img-border-radius);
  border-bottom-right-radius: var(--img-border-radius);
  padding-left: 0.8em;
  transition: 0.5s background-color;
}

a.logo:hover span:first-child {
  background-color: var(--primary-border-color);
}

a.logo:hover span:last-child {
  background-color: unset;
}

.navbar {
  display: flex;
  flex: 1;
  -moz-column-gap: var(--content-padding);
       column-gap: var(--content-padding);
  justify-content: flex-end;
  align-items: center;
}

/* ################# Search Box ################# */
.search-form {
  flex: 1;
  height: var(--search-form-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1px;
}

input.search-form-input {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--primary-background-color);
  border: 1px solid var(--primary-border-color);
  padding: 0.4rem 1rem;
  color: var(--primary-font-color);
  font-size: 0.9rem;
  border-top-left-radius: var(--img-border-radius);
  border-bottom-left-radius: var(--img-border-radius);
}

input.search-form-input:focus {
  outline: none;
  border-color: rgb(88, 88, 150);
}

button.search-button {
  display: flex;
  width: 3.5rem;
  height: var(--search-form-height);
  border: 1px solid transparent;
  background-color: var(--primary-border-color);
  border-top-right-radius: var(--img-border-radius);
  border-bottom-right-radius: var(--img-border-radius);
}

button.search-button-mobile,
button.search-arrow {
  display: none;
  background-color: transparent;
  border: none;
}

button.search-button,
button.search-button-mobile,
button.search-arrow {
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.search-button svg,
button.search-button-mobile svg,
button.search-arrow svg {
  width: 17px;
}

button.search-arrow {
  margin-right: 10px;
}

/* ################# Dropdown Menu ################# */
.dropdown {
  position: relative;
  display: flex;
  min-height: 1.7rem;
}

.dropdown-content,
.category-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 154%;
  right: 0;
  padding: var(--content-padding) calc(var(--content-padding) + 0.5rem);
  background-color: var(--secondary-background-color);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  outline: 1px solid rgb(210, 211, 215);
  border-radius: var(--img-border-radius);
}

.show-dropdown,
.category-show-dropdown {
  transform: scale(0);
  animation: growOut 200ms ease-in-out forwards;
  transform-origin: top right;
  row-gap: 0.5rem;
}

.show-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.category-show-dropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: calc(var(--content-padding) + 0.5rem);
       column-gap: calc(var(--content-padding) + 0.5rem);
}

@keyframes growOut {
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.nav-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.navbar .nav-item {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.dropdown-content .nav-item,
.category-dropdown-content .nav-item {
  white-space: nowrap;
  font-size: 0.95rem;
  text-transform: unset;
}

a.nav-item::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

a.nav-item:focus::after,
a.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item.support {
  color: #cc7b19;
  font-weight: bold;
}

.nav-item.username,
.nav-item.categories {
  padding-right: 1rem;
  background: inherit;
  border: none;
}

.nav-item.username {
  gap: 0.5rem;
}

.nav-item.username::after,
.nav-item.categories::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: var(--primary-font-color);
  border-bottom: 0;
}

.nav-item img.username-image {
  border-radius: 50%;
}

.login-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-item.delete-account {
  color: #f26123;
  font-weight: bold;
  padding-top: 0.5rem;
  border-top: 1px solid var(--primary-border-color);
}

/* ############# Alert Messages ############# */
.need-login {
  display: none;
  position: absolute;
  z-index: 2;
  font-weight: bold;
  border-radius: 0.7rem;
  padding: 0.7rem 1.4rem;
  top: 2.2rem;
  right: 0;
  white-space: nowrap;
  text-align: center;
  color: black;
  background: white;
  border: 2px solid var(--secondary-background-color);
}

.need-login::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

.alert {
  visibility: visible;
  animation: fadeOut 2s ease-in forwards;
  animation-delay: 0.5s;
  border-radius: 1rem;
  padding: 0.75rem 2rem;
  color: black;
  background: white;
  border: 2px solid var(--secondary-background-color);
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* ############# Generic Modal ############# */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 102;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
/* Modal Content/Box */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  border-radius: 5px;
  margin: auto;
  border: 1px solid #888;
  color: black;
  gap: var(--content-padding);
  padding: calc(var(--content-padding) * 1.5);
  transform: translateX(30%);
  opacity: 0;
  animation: flyInRight 100ms ease-in 200ms forwards;
}

@keyframes flyInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ############# Specific to delete Video/Account Modal ############# */
h2.modal-title {
  line-height: 1;
}

/* Set a style for all modal buttons */
button.modal-button {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  opacity: 0.9;
}

button.modal-button:hover {
  opacity: 1;
}

.modal-buttons-wrap {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

/* Float cancel and delete buttons - add an equal width */
button.cancel-button,
button.delete-button {
  width: 50%;
  padding: 0.8rem 2rem;
}

/* Add a color to the cancel button */
button.cancel-button {
  background-color: #ccc;
  color: black;
}

/* The Modal Close Button (x) */
.close-modal {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}

.close-modal:hover,
.close-modal:focus {
  color: #f44336;
  cursor: pointer;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}
/* ############# Specific to Login Modal ############# */
.login-modal-content {
  max-width: calc(286px + 2 * var(--content-padding));
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.login-text {
  font-size: 1.5rem;
  font-weight: normal;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
}

.brand-login-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s, transform 0.2s;
  border-radius: 4px;
  font-size: 14px;
  padding: 0;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
}

.brand-login-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.35);
}

.google-login {
  background-color: #4285f4;
  border: 1px solid transparent;
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 48px;
  height: 100%;
}

.google-logo {
  background-color: #fff;
}

.google-svg {
  width: 24px;
}

.brand-text {
  text-align: center;
  flex: 1 1 auto;
}

.facebook-login {
  background-color: #1877F2;
}

.facebook-svg {
  width: 35px;
}

/* ############# Custom Scrollbar ############# */
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 4px solid transparent;
  border-radius: 0.5rem;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* ############# Footer ############# */
.site-footer-wrap {
  position: sticky;
  z-index: 100;
  bottom: 0;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.25rem;
  visibility: hidden;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: var(--primary-background-color);
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--primary-border-color);
  border-bottom: none;
  font-size: 0.75rem;
  visibility: visible;
}

.site-footer > * {
  display: block;
}

.site-copy {
  color: rgb(162, 162, 162);
}

/* ############# Cookies Disclaimer Message Box ############# */
.snackbar {
  position: fixed;
  z-index: 100;
  inset: auto auto 1vw 1.5vw;
  left: calc((100vw - 1rem - var(--content-width)) / 2);
  border-radius: 10px;
  max-width: 30rem;
  width: 100%;
  background-color: var(--secondary-background-color);
  outline: 1px solid rgb(210, 211, 215);
  display: flex;
  flex-direction: column;
  padding: calc(var(--content-padding) * 1.25);
  gap: calc(var(--content-padding) * 1.25);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.snackbar-label {
  line-height: 1.6;
}

.snackbar-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--content-padding) * 0.5);
}

.snackbar-actions .cookies-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
  background-color: rgb(48, 49, 54);
  color: #9da2ff;
  min-width: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.03ch;
  border-radius: var(--img-border-radius);
  overflow: hidden;
  line-height: 1;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.8s;
}

.snackbar-actions .cookies-button:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 8px 1px rgba(0, 0, 0, 0.07), 0px 3px 8px 2px rgba(0, 0, 0, 0.08);
  background-color: rgb(58, 59, 64);
  transition: box-shadow 200ms linear, background-color 400ms ease;
}

/* ############# Media Queries ############# */
@media screen and (max-width: 1024px) {
  .site-header {
    -moz-column-gap: calc(var(--content-padding) * 3);
         column-gap: calc(var(--content-padding) * 3);
  }
}
@media screen and (max-width: 900px) {
  :root {
    --content-padding: 1rem;
  }
  .site-header {
    -moz-column-gap: var(--content-padding);
         column-gap: var(--content-padding);
  }
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    gap: 4px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.4s transform;
  }
  .hamburger-icon-change .bar1 {
    transform: translate(0, 0.38em) rotate(-45deg);
  }
  .hamburger-icon-change .bar2 {
    opacity: 0;
  }
  .hamburger-icon-change .bar3 {
    transform: translate(0, -0.38em) rotate(45deg);
  }
  .username-text,
  .categories-text {
    display: none;
  }
  .nav-item.categories::after {
    content: none;
  }
  .nav-item.username,
  .nav-item.categories {
    padding: 0;
  }
  .nav-item.username::after {
    content: none;
  }
  .dropdown-content::after,
  .category-dropdown-content:after {
    right: 5%;
  }
}
@media screen and (max-width: 600px) {
  .search-form {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) scaleX(0);
    left: 0;
    animation: expandSearch 200ms ease-in forwards;
  }
  @keyframes expandSearch {
    to {
      transform: translateY(-50%) scaleX(1);
    }
  }
  button.search-button-mobile {
    display: flex;
  }
  .site-footer {
    width: 100%;
    flex-wrap: wrap;
  }
  .snackbar {
    outline: unset;
    inset: auto auto 0 auto;
    border-radius: unset;
    max-width: none;
  }
}
/* Change styles for drop down menus on small screen */
@media screen and (max-width: 400px) {
  .dropdown {
    position: unset;
  }
  .dropdown-content,
  .category-dropdown-content {
    top: 100%;
  }
}