.playlists-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(88px, 240px));
  justify-content: space-between;
  gap: var(--content-padding);
}

@media screen and (max-width: 1024px) {
  .playlists-content {
    grid-template-columns: repeat(4, minmax(88px, 240px));
  }
}
@media screen and (max-width: 700px) {
  .playlists-content {
    grid-template-columns: repeat(3, minmax(88px, 240px));
  }
}
@media screen and (max-width: 360px) {
  .playlists-content {
    grid-template-columns: repeat(2, minmax(88px, 240px));
  }
}
a.playlist-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  transition: var(--img-hover-transition-duration) filter;
}

a.playlist-link:hover {
  filter: var(--img-hover-filter);
}

img.channel-img {
  width: 100%;
  height: auto;
  border-radius: var(--img-border-radius);
}

h2.playlist-title {
  font-size: 0.9rem;
}

.orphans {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid var(--primary-border-color);
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  border-radius: var(--img-border-radius);
}

.orphans::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}