/* ################# variables ################# */

:root {
    --content-width: 1200px;
    --main-font-family: 'Roboto', sans-serif;
    --content-padding: 2rem;
}


/* ################# reset ################# */

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, button, input {
    font-family: var(--main-font-family);
}

ul, li {
    list-style: none;
}


/* ################# content ################# */

.site-wrap {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    max-width: var(--content-width);
    margin: auto;
}

.site-header {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgb(235, 235, 235);
    min-height: 5rem;
}

a.logo {
    font-size: 1.8rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: -.06rem;
    color: black;
}

.navbar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

a.nav-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
    color: black;
    background-color: rgb(235, 235, 235);
    border-radius: .5rem;
    padding: .5rem 1rem;
}

a.nav-item:hover {
    background-color: rgb(225, 225, 225);
}

a.nav-item.username {
    gap: .5rem;
}

.nav-item img.username-image {
    border-radius: 50%;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 320px));
    /* grid-template-rows: repeat(auto, 1fr); */
    justify-content: space-between;
    gap: 1.5rem;
}

.sidebar {
    border-left: 5px solid rgb(235, 235, 235);
    padding-left: 2rem;
}