{% extends "base.html" %}

{% set admin_css_url = url_for('static', filename='css/admin.css') | autoversion %}

{% block preload_css %}
{{ super() }}
<link rel="preload" href="{{ admin_css_url }}" as="style">
{% endblock preload_css %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ admin_css_url }}">
{% endblock css %}

{% block title_tag %}
{{ title }} | {{ super() }}
{% endblock title_tag %}

{% block content %}

<h1 class="dashboard-title">{{ title }}</h1>

<div class="dashboard">
    <div class="dashboard-item dashboard-header-item">#</div>
    <div class="dashboard-item dashboard-header-item">Picture</div>
    <div class="dashboard-item dashboard-header-item">Name</div>
    <div class="dashboard-item dashboard-header-item">Email</div>
    <div class="dashboard-item dashboard-header-item">Login Provider</div>
    <div class="dashboard-item dashboard-header-item">Signup</div>
    <div class="dashboard-item dashboard-header-item">Last Seen</div>

    {% for user in users %}
    <div class="dashboard-item">{{ loop.index }}.</div>
    <div class="dashboard-item dashboard-user-img-container">
        <img class="dashboard-user-img" src="{{ url_for('static', filename=user.avatar_url) | autoversion }}">
    </div>
    <div class="dashboard-item">{{ user.name }}</div>
    <div class="dashboard-item">{{ user.email }}</div>
    {% if user.google_id %}
    <div class="dashboard-item">Google</div>
    {% else %}
    <div class="dashboard-item">Facebook</div>
    {% endif %}
    <div class="dashboard-item">{{ user.created_at | format_datetime }}</div>
    <div class="dashboard-item">
        {% if user.last_seen %}
        {{ user.last_seen | format_datetime }}
        {% else %}
        N/A
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock content %}