<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config['GTAG_ID'] }}"></script>
{% if current_user.is_authenticated %}
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config["GTAG_ID"] }}', { 'user_id': '{{ hash_id(current_user) }}' });
</script>
{% else %}
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config["GTAG_ID"] }}');
</script>
{% endif %}