<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
	{% block css %}{% endblock css %}
	<title>
		{% if title %}
		{{ title }} | {{ config['APP_NAME'] }}
		{% else %}
		{{ config['APP_NAME'] }}
		{% endif %}
	</title>
</head>

<body>
	<div class="site-header-wrap">
		<header class="site-header">
			<a class="logo" href="/">Doxder</a>
			<nav class="navbar">
				{% if g.search_form %}
				<form id="searchForm" class="search-form" method="get" action="{{ url_for('search.search_results') }}">
					<button type="button" class="search-arrow">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
							clip-rule="evenodd">
							<path fill="white"
								d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z" />
						</svg>
					</button>
					{{ g.search_form.q(size=20, class='search-form-input',
					placeholder=g.search_form.q.label.text) }}
					<button class="search-button">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
							clip-rule="evenodd">
							<path fill="white"
								d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
						</svg>
					</button>
				</form>
				<button class="search-button-mobile">
					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
						<path fill="white"
							d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
					</svg>
				</button>
				{% endif %}
				{% if current_user.is_authenticated %}
				<div class="dropdown">
					<button class="nav-item username">
						<img src="{{ url_for('static', filename='user_images/' + current_user.local_picture) }}"
							class="username-image" width="20" height="20" alt="">
						<span class="username-text">{{ current_user.name }}</span>
					</button>
					<div class="dropdown-content">
						{% if current_user.is_admin %}
						<a class="nav-item" href="{{ url_for('posts.new_playlist') }}">New Playlist</a>
						<a class="nav-item" href="{{ url_for('posts.new_post') }}">New Video</a>
						<a class="nav-item" href="{{ url_for('posts.playlists') }}">Sources</a>
						{% endif %}
						<a class="nav-item" href="{{ url_for('users.favorites') }}">Watch Later</a>
						<a class="nav-item" href="{{ url_for('users.account') }}">Account</a>
						<a class="nav-item" href="{{ url_for('auth.logout') }}">Log out</a>
					</div>
				</div>
				{% else %}
				<div class="login-wrap">
					<a id="openModal" class="nav-item" href="javascript:void(0)">Log in</a>
					<div class="need-login">Please login</div>
				</div>

				<div id="modal" class="modal">
					<div class="modal-content login-modal-content">
						<h3 class="login-text">Sign in to</h3>
						<div class="logo-text">Doxder</div>
						<p>
							Log in to be able to <strong>save</strong> and <strong>like</strong> your favorite
							documentaries.
						</p>
						<div class="login-buttons">
							<button class="brand-login-button google-login"
								onclick="popupWindow(`{{ url_for('auth.google') }}`, 'Google')">
								<div class="brand-logo google-logo">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.5 544.3"
										class="google-svg">
										<path
											d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
											fill="#4285f4"></path>
										<path
											d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
											fill="#34a853"></path>
										<path
											d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
											fill="#fbbc04"></path>
										<path
											d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
											fill="#ea4335"></path>
									</svg>
								</div>
								<div class="brand-text">Sign In with Google</div>
							</button>
							<button class=" brand-login-button facebook-login"
								onclick="popupWindow(`{{ url_for('auth.facebook') }}`)">
								<div class="brand-logo">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="50 67 400 368"
										class="facebook-svg">
										<path
											d="M432.5 250c0-100.8-81.7-182.5-182.5-182.5S67.5 149.2 67.5 250c0 91.1 66.7 166.6 154 180.3V302.8h-46.3V250h46.3v-40.2c0-45.7 27.2-71 68.9-71 20 0 40.9 3.6 40.9 3.6v44.9h-23c-22.7 0-29.7 14.1-29.7 28.5V250h50.6l-8.1 52.8h-42.5v127.5c87.2-13.7 153.9-89.2 153.9-180.3z"
											fill="#fff"></path>
										<path
											d="M321 302.8l8.1-52.8h-50.6v-34.2c0-14.4 7.1-28.5 29.7-28.5h23v-44.9s-20.9-3.6-40.9-3.6c-41.7 0-68.9 25.3-68.9 71V250h-46.3v52.8h46.3v127.5c9.3 1.5 18.8 2.2 28.5 2.2s19.2-.8 28.5-2.2V302.8H321z"
											fill="#1877f2"></path>
									</svg>
								</div>
								<div class="brand-text">Login with Facebook</div>
							</button>
						</div>
					</div>
				</div>
				{% endif %}
			</nav>
		</header>
	</div>

	<main role="main" class="content-wrap">
		{% block content %}{% endblock content %}
	</main>

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }}">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<div id="logInMessage"></div>

	{% block scripts %}{% endblock scripts %}
	{% if not current_user.is_authenticated %}
	<script async defer src="{{ url_for('static', filename='js/pop.js') }}"></script>
	{% endif %}
	<script async defer src="{{ url_for('static', filename='js/shared.js') }}"></script>
</body>

</html>