{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') | autoversion }}">
{% endblock css %}

{% block content %}

{% if 'Search' in title %}
Found <strong>{{ total }}</strong> results for this query.
<br><br>
{% endif %}

<div id="scroller" class="scroll-content">

	{% for post in posts %}

	<a class="video-link" href="{{ url_for('posts.post', video_id=post.video_id) }}">
		<img class="video-img" src="{{ post.thumbnails['medium']['url'] }}"
			width="{{ post.thumbnails['medium']['width'] }}" height="{{ post.thumbnails['medium']['height'] }}"
			alt="{{ post.title }}">
		<h2 class="video-title">{{ post.title }}</h2>
	</a>

	{% endfor %}

	<template id="post_template">
		<!-- template content -->
		<a class="video-link" href="#">
			<img class="video-img" src="#">
			<h2 class="video-title"></h2>
		</a>
	</template>

</div>

<!-- element to trigger the IntersectionObserver -->
<div class="sentinel" id="sentinel">
	<div id="spinner" role="status"></div>
</div>
{% endblock content %}

{% block scripts %}
{% if total and total > config['POSTS_PER_PAGE'] %}
<script async defer src="{{ url_for('static', filename='js/scroll.js') | autoversion }}"></script>
{% endif %}
{% endblock scripts %}