{% extends "base.html" %}

{% block css %}
{{ super() }}
{% set error_css_url = url_for('static', filename='css/error.css') | autoversion %}
<link rel="preload" href="{{ error_css_url }}" as="style">
<link rel="stylesheet" type="text/css" href="{{ error_css_url }}">
{% endblock css %}

{% block title_tag %}
{{ title }} | {{ super() }}
{% endblock title_tag %}

{% block content %}
<div class="error-wrap">
    <div class="error-content">
        <h1>{{ heading }}</h1>
        <p>{{ text }}</p>
    </div>
</div>
{% endblock content %}