{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock css %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
<!-- div to contain the content -->
<div id="scroller" class="home-content">

    {% for post in posts %}

    <a class="home-video-link" href="{{ url_for('posts.post', post_id=post.id) }}">
        <img class="home-video-img" src="{{ post.thumbnails['medium']['url'] }}"
            width="{{ post.thumbnails['medium']['width'] }}" height="{{ post.thumbnails['medium']['height'] }}"
            alt="{{ post.title }}">
        <h2 class="home-video-title">{{ post.title }}</h2>
    </a>

    {% endfor %}

    <template id="post_template">
        <!-- template content -->
        <a class="home-video-link" href="#">
            <img class="home-video-img" src="#">
            <h2 class="home-video-title"></h2>
        </a>
    </template>

</div>

<!-- element to trigger the IntersectionObserver -->
<div class="sentinel" id="sentinel">
    <div class="spinner-border" role="status"></div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}