{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock css %}

{% block content %}
<div class="form-content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="form-legend">{{ legend }}</legend>
            <div class="form-group">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-input", placeholder=form.content.render_kw.placeholder) }}
            </div>
        </fieldset>
        <div class="form-group button-group">
            {{ form.submit(class="form-button") }}
            {% if form.content.errors %}
            <div class="form-invalid-feedback">
                {% for error in form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}