{% extends "base.html" %}

{% set content_css_url = url_for('static', filename='css/content.css') | autoversion %}

{% block preload_css %}
{{ super() }}
<link rel="preload" href="{{ content_css_url }}" as="style">
{% endblock preload_css %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ content_css_url }}">
{% endblock css %}

{% block meta %}
{% set url = url_for('main.home', _external=True) %}
{% set large_favicon = url_for('static', filename='favicons/android-chrome-512x512.png') | autoversion %}
<link rel="canonical" href="{{ url }}">
<meta name="description" content="{{ config.APP_DESCRIPTION }}">
<meta property="og:title" content="{{ config.APP_NAME }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="{{ large_favicon }}">
<meta property="og:description" content="{{ config.APP_DESCRIPTION }}">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Factual Docs",
        "url": "https://{{ config.DOMAIN }}",
        "potentialAction": {
            "@type": "SearchAction",
            "target": {
                "@type": "EntryPoint",
                "urlTemplate": "https://{{ config.DOMAIN }}/search/?q={search_term}"
            },
            "query-input": "required name=search_term"
        }
    }
</script>

{{ super() }}
{% endblock meta %}

{% block title_tag %}
{{ super() }} | Documentary Library
{% endblock title_tag %}

{% block content %}
{% include 'content.html' %}
{% endblock content %}

{% block scripts %}
{{ super() }}
<script defer src="{{ url_for('static', filename='js/scroll.js') | autoversion }}"></script>
{% endblock scripts %}