{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') | autoversion }}">
{% endblock css %}

{% block meta %}
<link rel="canonical" href="{{ url_for('main.home', _external=True) }}" />
{% endblock meta %}

{% block content %}
{% include 'content.html' %}
{% endblock content %}

{% block scripts %}
<script async defer src="{{ url_for('static', filename='js/scroll.js') | autoversion }}"></script>
{{ super() }}
{% endblock scripts %}