<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
	{% block css %}
	{% endblock css %}

	{% block title %}
	{% endblock title %}
</head>

<body>
	<div class="site-header-wrap">
		<header class="site-header">
			<a class="logo" href="/">Doxder</a>

			{% if g.search_form %}
			<form class="search-form" method="get" action="{{ url_for('search.search_results') }}">
				{{ g.search_form.q(size=20, class='search-form-input',
				placeholder=g.search_form.q.label.text) }}
			</form>
			{% endif %}

			<nav class="navbar">
				{% if current_user.is_authenticated %}
				{% if current_user.is_admin %}
				<a class="nav-item" href="{{ url_for('posts.playlists') }}">Playlists</a>
				<a class="nav-item" href="{{ url_for('posts.new_playlist') }}">New Playlist</a>
				<a class="nav-item" href="{{ url_for('posts.new_post') }}">New Video</a>
				{% endif %}
				<a class="nav-item" href="{{ url_for('users.favorites') }}">Favorites</a>
				<a class="nav-item username" href="{{ url_for('users.account') }}">
					<img src="{{ current_user.picture }}" class="username-image" width="20" height="20" alt="">
					{{ current_user.username }}
				</a>
				<a class="nav-item g_id_signout" href="{{ url_for('auth.logout') }}">Log out</a>
				{% else %}
				<div class="login-wrap">
					<a class="login nav-item" href="#" onclick="OAuth()">
						<!-- Log in -->
						<img src="{{ url_for('static', filename='/images/google-sign-in-blue.png') }}" width="160"
							alt="">
					</a>
					<div class="need-login">Please login</div>
					{% endif %}
				</div>
			</nav>
		</header>
	</div>

	<main role="main" class="content-wrap">
		{% block content %}
		{% endblock content %}
	</main>

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }}">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}


	{% block scripts %}
	{% endblock scripts %}

	{% if not current_user.is_authenticated %}
	<script>
		function OAuth() {
			var url = '{{ url_for("auth.authorize") }}';
			var width = screen.availWidth * 0.44;
			var height = screen.availHeight * 0.83;
			var left = (screen.availWidth / 2) - (width / 2);
			var top = (screen.availHeight / 2) - (height / 2);
			window.open(url, '_blank', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + '');
		}
	</script>

	<!-- <script src="https://accounts.google.com/gsi/client" async defer></script>
	<div id="g_id_onload" data-client_id="{{ config['GOOGLE_OAUTH_CLIENT_ID'] }}"
		data-login_uri="{{ url_for('auth.onetap') }}">
	</div> -->
	{% endif %}

</body>

</html>