<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
	{% block css %}
	{% endblock css %}

	{% block title %}
	{% endblock title %}
</head>

<body>
	<div class="site-wrap">
		<header class="site-header">
			<a class="logo" href="/">Doxder</a>
			<nav class="navbar">
				{% if g.search_form %}
				<form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
					<div class="form-group">
						{{ g.search_form.q(size=20, class='form-control',
						placeholder=g.search_form.q.label.text) }}
					</div>
				</form>
				{% endif %}

				{% if current_user.is_authenticated %}
				{% if current_user.is_admin %}
				<a class="nav-item" href="{{ url_for('posts.playlists') }}">Playlists</a>
				<a class="nav-item" href="{{ url_for('posts.new_playlist') }}">New Playlist</a>
				<a class="nav-item" href="{{ url_for('posts.new_post') }}">New Video</a>
				{% endif %}
				<a class="nav-item" href="{{ url_for('posts.new_post') }}">Favorites</a>
				<a class="nav-item username" href="{{ url_for('users.account') }}">
					{% if current_user.picture == 'default.jpg' %}
					<img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" class="username-image"
						width="20" height="20" alt="">
					{% else %}
					<img src="{{ current_user.picture }}" class="username-image" width="20" height="20" alt="">
					{% endif %}
					{{ current_user.username }}</a>
				<a class="nav-item g_id_signout" href="{{ url_for('users.logout') }}">Sign out</a>
				{% else %}
				<a class="nav-item" href="#" onclick="OAuth()">Sign in</a>
				{% endif %}
			</nav>
		</header>

		<main role="main" class="content-wrap">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
			{% block content %}
			{% endblock content %}
		</main>

	</div>

	{% if not current_user.is_authenticated %}
	<script>
		function OAuth() {
			var url = '{{ url_for("users.oauth") }}';
			var width = screen.availWidth * 0.44;
			var height = screen.availHeight * 0.83;
			var left = (screen.availWidth / 2) - (width / 2);
			var top = (screen.availHeight / 2) - (height / 2);
			window.open(url, '_blank', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + '');
		}
	</script>

	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<div id="g_id_onload" data-client_id="{{ config['GOOGLE_OAUTH_CLIENT_ID'] }}"
		data-login_uri="{{ url_for('users.onetap') }}">
	</div>
	{% endif %}

</body>

</html>