{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') | autoversion }}">
{% endblock css %}

{% block content %}

<h1 class="content-title">{{ content_title }}</h1>

<div id="scroller" class="scroll-content">

    {% for post in posts %}

    <div class="video-block">
        <span data-id="{{ post.video_id }}" class="remove-option">&times;</span>
        <a class="video-link" href="{{ url_for('posts.post', video_id=post.video_id) }}">
            <img class="video-img" src="{{ post.thumbnails['medium']['url'] }}"
                width="{{ post.thumbnails['medium']['width'] }}" height="{{ post.thumbnails['medium']['height'] }}"
                alt="{{ post.title }}">
            <h2 class="video-title">{{ post.title }}</h2>
        </a>
    </div>

    {% endfor %}

    <template id="post_template">
        <div class="video-block">
            <span class="remove-option">&times;</span>
            <a class="video-link" href="#">
                <img class="video-img" src="#">
                <h2 class="video-title"></h2>
            </a>
        </div>
    </template>

</div>

<div class="sentinel" id="sentinel">
    <div id="spinner" role="status"></div>
</div>

{% endblock content %}

{% block scripts %}
<script async defer src="{{ url_for('static', filename='js/list.js') | autoversion }}"></script>
{% if total > config['POSTS_PER_PAGE'] %}
<script async defer src="{{ url_for('static', filename='js/scroll.js') | autoversion }}"></script>
{% endif %}
{{ super() }}
{% endblock scripts %}