{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') | autoversion }}">
{% endblock css %}

{% block meta %}
{% set page_url = url_for('pages.page', id=page.id, _external=True) %}
<link rel="canonical" href="{{ page_url }}" />
<meta property='og:title' content='{{ page.title }}'>
<meta property='og:type' content='article'>
<meta property='og:url' content='{{ page_url }}'>
{{ super() }}
{% endblock meta %}

{% block title_tag %}
{{ page.title }} | {{ super() }}
{% endblock title_tag %}

{% block content %}
<div class="page">
    <h1>{{ page.title }}</h1>
    {{ page.html_content | safe }}
</div>
{% endblock content %}