{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock css %}

{% block title %}
<title>{{ post.title }} | Doxder</title>
{% endblock title %}

{% block content %}

<article class="media-content">
	<div class="player">
		<div class="player-content" id="{{ post.video_id }}">
			<img alt="{{ post.title }}" src="{{ thumb }}">
			<div class="play"></div>
		</div>
	</div>
	<div class="metadata">
		<h1 class="video-title">{{ post.title }}</h1>
		<div class="video-description">
			{{ post.description[:200] }}...
		</div>
		<div class="video-duration">
			Duration: {{ duration }}
		</div>
	</div>
</article>

<script>
	var v = document.querySelector('.player-content');
	document.addEventListener("DOMContentLoaded",
		function () {
			v.onclick = playerIframe;
		});

	function playerIframe() {
		var e = document.createElement("iframe");
		e.setAttribute("src", "https://www.youtube-nocookie.com/embed/" + v.id + "?iv_load_policy=3&cc_load_policy=1&autoplay=1");
		e.setAttribute("frameborder", "0");
		e.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture");
		e.setAttribute("allowfullscreen", "");
		this.parentNode.replaceChild(e, this);
	}
</script>

{% endblock content %}