{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') | autoversion }}">
{% endblock css %}

{% block meta %}
{% set post_url = url_for('posts.post', video_id=post.video_id, _external=True) %}
<link rel="canonical" href="{{ post_url }}" />
<meta property='og:title' content='{{ post.title }}'>
<meta property='og:type' content='video.movie'>
<meta property='og:url' content='{{ post_url }}'>
<meta property='og:image' content='{{ thumb }}'>
<meta name='thumbnail' content='{{ thumb }}'>
{{ super() }}
{% endblock meta %}

{% block title_tag %}
{{ post.title }} | {{ super() }}
{% endblock title_tag %}

{% block content %}
<article class="media-content">
	<div class="video-content">
		<div class="player">
			<div class="player-content" id="{{ post.video_id }}">
				<img alt="{{ post.title }}" src="{{ thumb }}">
				<div class="play"></div>
			</div>
		</div>

		<header class="metadata">
			<div class="metadata-block">
				<h1 class="video-title">{{ post.title }}</h1>
				<div class="social">
					{% if current_user.is_authenticated %}
					{% if current_user.has_casted(post, 'like') %}
					<button class="like like-yes">
						<span data-liked>&#10003;</span>
						<span data-likes>{{ likes }}</span>
					</button>
					{% else %}
					<button class="like like-no">
						<span data-likes>{{ likes }}</span>
					</button>
					{% endif %}
					{% else %}
					<button data-auth class="like like-no">
						<span>{{ likes }}</span>
					</button>
					{% endif %}

					{% if current_user.is_authenticated %}
					{% if current_user.has_casted(post, 'fave') %}
					<button data-status class="fave fave-yes">&#10003; Saved</button>
					{% else %}
					<button data-status class="fave fave-no">Save</button>
					{% endif %}
					{% else %}
					<button data-auth class="fave fave-no">Save</button>
					{% endif %}
				</div>
			</div>
			<div class="other-metadata">
				<div class="metadata-block">
					<div class="video-duration">
						Duration: {{ duration }}
					</div>
					{% if current_user.is_authenticated and current_user.is_admin %}
					<button data-modal="video" class="modal-button">Delete</button>
					{% endif %}
				</div>
			</div>
		</header>
	</div>

	<div class="related_videos">
		{% for related_post in related_posts %}
		{% set thumb = related_post.thumbnails['medium'] %}
		<a href="{{ url_for('posts.post', video_id=related_post.video_id) }}" class="related-video">
			<img class="related-img" src="{{ thumb['url'] }}" width="{{ thumb['width'] }}"
				height="{{ thumb['height'] }}" alt="{{ related_post.title }}">
			<h2 class="related-post-title">
				{{ related_post.title }}
			</h2>
		</a>
		{% endfor %}
	</div>
</article>

{% if current_user.is_authenticated and current_user.is_admin %}
<div data-body="video" class="modal">
	<form class="modal-content" action="{{ url_for('posts.perform_action', video_id=post.video_id, action='delete') }}"
		method="POST">
		<span data-close="video" class="close-modal" title="Close">&times;</span>
		<h2>Delete Video</h2>
		<p>Are you sure you want to delete this video?</p>
		<div class="modal-buttons-wrap">
			<button data-close="video" type="button" class="modal-button cancel-button">Cancel</button>
			<button type="submit" class="modal-button delete-button">Delete</button>
		</div>
	</form>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
{% if current_user.is_authenticated %}
<script async defer src="{{ url_for('static', filename='js/likes.js') | autoversion }}"></script>
{% else %}
<script async defer src="{{ url_for('static', filename='js/login.js') | autoversion }}"></script>
{% endif %}
<script async defer src="{{ url_for('static', filename='js/play.js') | autoversion }}"></script>
{{ super() }}
{% endblock scripts %}