{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock css %}

{% block title %}
<title>{{ post.title }} | Doxder</title>
{% endblock title %}

{% block content %}
<article class="media-content">
	<div class="player">
		<div class="player-content" id="{{ post.video_id }}">
			<img alt="{{ post.title }}" src="{{ thumb }}">
			<div class="play"></div>
		</div>
	</div>
	<div class="metadata">
		<h1 class="video-title">{{ post.title }}</h1>
		<div class="metadata-block">
			<div class="video-duration">
				Duration: {{ duration }}
			</div>
			{% if current_user.is_authenticated and current_user.is_admin %}
			<button id="openModal" class="modal-button">Delete</button>
			{% endif %}
		</div>
		<div class="likes">
			{% if current_user.is_authenticated %}
			{% if current_user.has_casted(post, 'like') %}
			<button class="like like-yes"></button>
			{% else %}
			<button class="like like-no"></button>
			{% endif %}
			{% endif %}
			<span class="like-counter">
				{% if likes %}
				{{ likes }}
				{% endif %}
			</span>
		</div>
		<div class="related_videos">
			{% if post.related_posts %}
			{% for related_post in post.related_posts %}
			{{ related_post.title }} <br>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</article>

{% if current_user.is_authenticated and current_user.is_admin %}
<div id="modal" class="modal">
	<span id="closeModal" class="close" title="Close">&times;</span>
	<form class="modal-content" action="{{ url_for('posts.perform_action', post_id=post.id, action='delete') }}"
		method="POST">
		<div class="container">
			<h2>Delete Video</h2>
			<p>Are you sure you want to delete this video?</p>
			<div class="modal-buttons-wrap">
				<button id="cancelModal" type="button" class="modal-button cancelbtn">Cancel</button>
				<button type="submit" class="modal-button deletebtn">Delete</button>
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
{% if current_user.is_authenticated %}
{% if current_user.is_admin %}
<script>
	var openModal = document.getElementById('openModal');
	var noModal = [document.getElementById('modal'),
	document.getElementById('closeModal'),
	document.getElementById('cancelModal')]

	window.onclick = function (event) {
		if (event.target == openModal) {
			modal.style.display = 'flex'
		}
		else if (noModal.includes(event.target)) {
			modal.style.display = "none";
		}
	}
</script>
{% endif %}

<script>
	function setLikeCounter(action) {
		let counter = parseInt(document.querySelector(".like-counter").textContent);
		if (action === 'like') {
			if (isNaN(counter)) {
				counter = 1;
			} else {
				counter += 1;
			}
		} else if (action === 'unlike') {
			if (counter === 1) {
				counter = '';
			} else {
				counter -= 1;
			}
		}
		document.querySelector(".like-counter").textContent = counter
	}

	async function performAction(action) {
		const url = `${window.location.pathname}${action}`;
		return await fetch(url, { method: 'POST' });
	}

	function listenForAction(action) {
		const action_element = document.querySelector(`.${action}`);
		action_element.addEventListener('click', (event) => {
			event.target.classList.toggle(`${action}-no`);
			event.target.classList.toggle(`${action}-yes`);
			let current_action = action;
			if (event.target.classList.contains(`${action}-no`)) {
				current_action = `un${action}`;
			}
			performAction(current_action)
				.then(response => {
					if (response.ok) {
						if (current_action.includes('like')) {
							setLikeCounter(current_action);
						}
					}
				});
		});
	}

	document.addEventListener("DOMContentLoaded", () => {
		listenForAction('like');
	});
</script>
{% endif %}

<script>
	var v = document.querySelector('.player-content');
	document.addEventListener("DOMContentLoaded",
		function () {
			v.onclick = playerIframe;
		});

	function playerIframe() {
		var e = document.createElement("iframe");
		e.setAttribute("src", "https://www.youtube-nocookie.com/embed/" + v.id + "?iv_load_policy=3&cc_load_policy=1&autoplay=1");
		e.setAttribute("frameborder", "0");
		e.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture");
		e.setAttribute("allowfullscreen", "");
		this.parentNode.replaceChild(e, this);
	}
</script>
{% endblock scripts %}