{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') | autoversion }}">
{% endblock css %}

{% block meta %}
<link rel="canonical" href="{{ url_for('search.search_results', _external=True) }}" />
{% endblock meta %}

{% block content %}
<h1 class="content-title">Found <strong>{{ total }}</strong> results for this query.</h1>
{% include 'content.html' %}
{% endblock content %}

{% block scripts %}
{% if total > config['POSTS_PER_PAGE'] %}
<script async defer src="{{ url_for('static', filename='js/scroll.js') | autoversion }}"></script>
{% endif %}
{{ super() }}
{% endblock scripts %}