{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') | autoversion }}">
{% endblock css %}

{% block meta %}
{% set url = url_for('search.search_results', _external=True) %}
<link rel="canonical" href="{{ url }}" />
<meta property='og:title' content='{{ title }}'>
<meta property='og:type' content='article'>
<meta property='og:url' content='{{ url }}'>
{{ super() }}
{% endblock meta %}

{% block title_tag %}
{{ title }} | {{ super() }}
{% endblock title_tag %}

{% block content %}
<h1 class="content-title">
    About <strong>{{ total }}</strong> results <small>({{ time_took }} seconds)</small>
</h1>
{% include 'content.html' %}
{% endblock content %}

{% block scripts %}
{{ super() }}
{% if total > config['POSTS_PER_PAGE'] %}
<script async defer src="{{ url_for('static', filename='js/scroll.js') | autoversion }}"></script>
{% endif %}
{% endblock scripts %}