{% extends "base.html" %}

{% block css %}
{{ super() }}
{% set sources_css_url = url_for('static', filename='css/sources.css') | autoversion %}
<link rel="preload" href="{{ sources_css_url }}" as="style">
<link rel="stylesheet" type="text/css" href="{{ sources_css_url }}">
{% endblock css %}

{% block meta %}
{% set url = url_for('sources.playlists', _external=True) %}
<link rel="canonical" href="{{ url }}" />
<meta property='og:title' content='{{ title }}'>
<meta property='og:type' content='article'>
<meta property='og:url' content='{{ url }}'>
{{ super() }}
{% endblock meta %}

{% block title_tag %}
{{ title }} | {{ super() }}
{% endblock title_tag %}

{% block content %}

<div class="playlists-content">

    {% for post in posts %}
    <a class="playlist-link" href="{{ url_for('sources.playlist_videos', playlist_id=post.playlist_id) }}">
        <img class="channel-img" src="{{ post.channel_thumbnails['medium']['url'] }}"
            width="{{ post.channel_thumbnails['medium']['width'] }}"
            height="{{ post.channel_thumbnails['medium']['height'] }}" alt="{{ post.title }}">
        {% if post.channel_title %}
        <h2 class="playlist-title">{{ post.channel_title }}</h2>
        {% else %}
        <h2 class="playlist-title">{{ post.title }}</h2>
        {% endif %}

    </a>
    {% endfor %}

    <a class="playlist-link" href="{{ url_for('sources.orphan_videos') }}">
        <span class="orphans">Other</span>
        <h2 class="playlist-title">Other Uploads</h2>
    </a>

</div>

{% endblock content %}