{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/playlists.css') | autoversion }}">
{% endblock css %}

{% block content %}

<div class="playlists-content">

    {% for post in posts %}

    <a class="playlist-link" href="{{ url_for('lists.playlist_videos', playlist_id=post.playlist_id) }}">
        <img class="channel-img" src="{{ post.channel_thumbnails['medium']['url'] }}"
            width="{{ post.channel_thumbnails['medium']['width'] }}"
            height="{{ post.channel_thumbnails['medium']['height'] }}" alt="{{ post.title }}">
        <h2 class="playlist-title">{{ post.title }}</h2>
    </a>

    {% endfor %}

</div>

{% endblock content %}